body {
	display:flex;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color:black ;
}

.column_a {
	height:100%;
	width:75%;
	display:flex;
	background-color:orange;
}

.flavor-box {
	height:14.29%;
	width:100%;
	display:flex;
}


.column_b {
	height:100%;
	width:25%;
	display:block;
	background-color: #141414;

}

.img {
	height:100%;
	width:50%;
	display:flex;
	background-color:;
}


/*img {
	filter: grayscale(90%);
	transition: .5s ease-in-out;
	display:flex;
	height:75%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
*/
/*colors*/
.green_apple{background-color: #abb834;}
/*place holder color*/
.raspberry{background-color:maroon;}
.lychee {background-color: #f8f4f5;}
.matcha{background-color:#b2a821 ;}
/*place holder color*/
.muscat{background-color: greenyellow}
.watermelon{background-color:#c4979a;}
.melon{background-color:#ccebc2 ;}
.blueberry{background-color: #64ebfb;}
.yogurt{background-color: #f7f3f2;}
.kiwi{background-color:
#377720;}
/*place holder color*/
.yuzu{background-color:bisque;}
.peach {background-color:e3a59a ;}/*place holder color*/
.coconut{background-color: saddlebrown;} 
/*place holder color*/
.strawberry{background-color:hotpink}
.original{background-color:#c7dce6 ;}
.mango{background-color:#f7b332 ;}
.banana{background-color:#ffe135 ;}
.grape{background-color:#6f2da8 ;}
.orange{background-color:orange;}
.pineapple{background-color:#ffff65 ;}
.bubblegum{background-color:#ffc1cc ;}
.takoyaki{background-color:#f07e5f ;}
.curry{background-color:#815b28 ;}
.kimchi{background-color:#62790e;}
.corn{background-color:#fbed5e ;}
.chili{background-color:#e1422c;}
.wasabi{background-color:#e6f3a1;}




/*check soranews24 for individual bottle shots
/* Instead of changing the SRC of the image, you can add this class onto "blue-man"
.power-up {
	content:url(images/vegeta1.png);
}
*/

/* Enhance your UX with the following rules:
img:hover {
	filter: grayscale(0%);
	transition: .5s ease-in-out;
    cursor: pointer;
}
*/