body {
	display:flex;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #141414;
	
}
.tall-box {
	height:75%;
	width:100%;
	display:block;
}
.small-box {
	height:25%;
	width:100%;
}


.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: calc(100%/2);
}
}

.fly-forward{
	transform: translate(165px, 0);
	transition: transform 2s ease;
}

.button{
	height: 20%;
	width: 100%;
}
button:hover {
    cursor: pointer;
}

img {
	filter: grayscale(90%);
	transition: .5s ease-in-out;
	display:flex;
	height:75%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*colors*/
.blue {background-color: #2754db;}
.red {background-color:#C70039 ;}
.green{background-color:green;}
.orange {background-color: #f2a802;}

/* Instead of changing the SRC of the image, you can add this class onto "blue-man"
.power-up {
	content:url(images/vegeta1.png);
}
*/

/* Enhance your UX with the following rules:

img:hover {
	filter: grayscale(0%);
	transition: .5s ease-in-out;
    cursor: pointer;
}
*/
